<!--#?index-->

<div class="cardBox cardBox-top">

	<!--
	<article class="svtMediaBlock svtJsClickArea" data-type="default" data-target=".svtJsLoadHref">
		<figure class="svtMediaBlockFig-M svtXPositionRelative">
			<img alt="..." src="http://www.svt.se/cachable_image/1414677227000/gift-vid-forsta-ogonkastet/article2439044.svt/ALTERNATES/large/giftgrupp1080p-jpg">
		</figure>
		<div class="svtMediaBlockText svtTextTeaser-Large svtXMargin-Top-5px">
			<header>
				<h3 class="svtH4">
					Gift vid första ögonkastet
				</h3>
			</header>
			<p class="svtXMargin-Bottom-5px">
				Skulle du gifta dig med någon du aldrig har träffat?
			</p>
			<p class="svtTextMeta svtXMargin-Bottom-10px">
				Reality / Romantik | Onsdagar i SVT Flow
			</p>
			<span class="svtButton-Play svtXDisplayInline-Block svtXMinWidth40p">
				<span class="svtCenterUnknownContent svtXTextOverflow svtXDisplayBlock">
					<span class="svtIcon svtIcon_Play-White"></span>
					<span class="svtXTextBold svtXColorWhite">
					Se Avsnitt 1: Bröllopen
					</span>
				</span>
			</span>
		</div>
	</article>
	-->


	<div class="Grid Grid--gutters Grid--full med-Grid--fit">

		<div class="Grid-cell u-med-1of3">



			<div class="Grid Grid--gutters u-textCenter">
				<div class="Grid-cell u-med-full">
					<img src="src/flow.png" alt="Flow" class="card-logo">
				</div>
				<div class="Grid-cell u-med-full">
					<span class="svtButton-Play svtXDisplayInline-Block svtXMinWidth40p">
						<span class="svtCenterUnknownContent svtXTextOverflow svtXDisplayBlock">
							<span class="svtIcon svtIcon_Play-White"></span>
							<span class="svtXTextBold svtXColorWhite">
							Se Avsnitt 1: Bröllopen
							</span>
						</span>
					</span>
				</div>
			</div>

		</div>

		<div class="Grid-cell">

			<header>
				<h2>
					Gift vid första ögonkastet
				</h2>
			</header>
			<p class="svtXMargin-Bottom-5px">
				Skulle du gifta dig med någon du aldrig har träffat?
			</p>
			<p class="svtTextMeta svtXMargin-Bottom-10px">
				Reality / Romantik | Onsdagar i SVT Flow
			</p>


		</div>

	</div>


</div>
<div class="svtBox cardBox">

	<header>
		<h1>
			Hur tänkte ni egentligen när ni ställde upp?
		</h1>
	</header>

	<img src="http://www.svt.se/cachable_image/1413362845000/svts/article2396580.svt/ALTERNATES/large/it-s-love-actually-jpg" class="card-img-top">




	<div class="Grid Grid--gutters Grid--full med-Grid--fit">

		<div class="Grid-cell u-med-1of4">

				<div class="card-metabox">

					<h6>DELA</h6>
					<p>Twitter</p>
					<p>Facebook</p>

				</div>
		</div>
		<div class="Grid-cell">
				<div class="thecard--article">

					<div class="svtTextBread-Article">
						<p>
							Lörem ipsum dolor sit amet. Consectetur ädipisicing elit sed dö eiusmod. Tempör incididunt ut låbore et dölöre. Mågnä äliqua urna. Ac semper pörta urnå. Ac ipsum pulvinår nunc. Eleifend elit ut etiåm lectus. Sem ipsum suscipit ullämcörper. Rutrum håbitåsse porta. Sem dictum volutpåt måecenäs. Fermentum vulputåte ultricies pörtå nullåm vitåe. Cönsequåt dictum hac pellentesque bibendum tellus. Nisl rhöncus erös åeneån vestibulum. Enim faucibus pulvinår viverrå rutrum purus. Pörta interdum curabitur gravidå mättis häc.
						</p>
						<p>
							Cöngue pulvinår fringilla iaculis morbi, åliquam felis måuris. Purus dui quis etiäm viverrå duis feugiåt. Pråesent håbitasse hendrerit ämet. Lobörtis liberö donec grävidä. Est nullå fermentum. Aliquåm maecenås åliquam rutrum et ånte sodales. Ultricies dignissim elementum diåm pretium, lectus tempor nullä. Fäcilisis åeneän cöndimentum tortör dönec. Tempör scelerisque nec. Suspendisse löbortis est portä suscipit lectus. Rutrum sodales måssä sed elit interdum pellentesque. Rutrum plåteå möllis nisi ante dölör. Fåucibus dignissim dapibus semper. Eleifend elit morbi augue consequat est.
						</p>
						<p>
							Etiåm consequät ämet äc. At nullåm häc orci. Plåceråt eget tempor venenåtis åenean måecenås. Tellus ämet åccumsän posuere cöngue. Fermentum bibendum habitåsse nec justo äugue, cömmödö habitasse. Volutpåt eget fringilla erös säpien et laciniä. Erat nisi tincidunt. Leo urnå enim säpien. Pretium tempör dignissim orci integer dictum. Cönsectetur tempor fermentum vitåe dignissim vestibulum. Mässå elit risus fusce åliquäm facilisis. Ullämcorper vitåe suspendisse vel enim. Måssä ipsum nunc cömmodö näm. Justo euismod posuere vitae örnåre. Eget vitae adipiscing tempus måttis völutpåt dui.
						</p>
					</div>
				</div>
		</div>
	</div>
</div>



<!--#?end-->

<!--#?article-->

<!--#?end-->

<!--#?alist-->

<!--#?end-->

