body.example {
	font-family: sans-serif;
	background-color: pink;
}

.proto-inactive {
	opacity: 0.2 !important;
}
#Global_Clicker {
	background-color: #FFF;
	opacity: 0.4;
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	z-index: 985;
	cursor: pointer;
}
#Global_Clicker a {
	color: #000;
	text-decoration: none;
}
#Global_Clicker a:hover {
	text-decoration: underline;
	color: #000;
}
.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: #000;
  box-shadow: 
    0 0.25em 0 0 #000,
    0 0.5em 0 0 #000;
}

#Global_Blocker {
	background-color: #FFF;
	opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 980;
	display: none;
}
#Global_Content {
	background-color: #FFF;
	position: absolute;
	top: 150%;
	left: 10%;
	min-height: 80%;
	width: 80%;
	/* max-width: 600px; */
	z-index: 999;
	transition: top 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
	overflow: visible;

}
#Global_Content.showme {
	top: 20px;
	
}
#Global_Content a {
	color: #555;
	text-decoration: none;
	font-size: 1.2em;
}
#Global_Content a:hover {
	color: #000;
	text-decoration: underline;
}
#Global_Content ul {
	margin: 5em 1em;
	padding: 0;
}
#Global_Content ul li {
	list-style-type: none;
	margin: 1.5em 0;
}
